.panel {
    float: left;
    width: 28vw;
	margin: 1vw;
	padding: 4px;
	min-width: 15em;
    border: 1px solid;
}

.panel .propiedad {
    font-size: 80%;
    float: left;
	padding-bottom: 4px;
}

.panel .valor {
    font-size: 80%;
	padding-bottom: 4px;
}

.titulo-panel {
    padding: 9px;
}

.panel .logo {
	margin: auto;
	display: block;
	max-height: 10em;
	max-width: 100%;
}